@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Lobster&display=swap');

:root {
    --flow-space : 10px;
    --main-shadow : 0 0 8px rgba(100,75,75,0.3);
}

* {
    margin : unset;
    padding : unset;
    border : unset;
    box-sizing : border-box;
    font-family: 'Mulish', sans-serif;
}

a {
    color : dodgerblue;
    text-decoration : unset;
}

.main-button {
    display : block;
    padding : 15px 30px;
    background-color : crimson;
    color : white;
    border-radius : 2px;
    width : min-content;
    white-space: nowrap;
    cursor: pointer;
    transition : filter 0.2s ease;
    box-shadow: var(--main-shadow);
    text-align : center;
}

.main-button:hover {
    filter : brightness(125%);
}

.error {
    color : red;
    font-weight : bold;
}

body {
    background-color : whitesmoke;
    font-family: 'Mulish', sans-serif;
    overflow-y: scroll;
}

header {
    height : 80px;
    display : flex;
    justify-content : space-between;
    align-items : center;
    position : sticky;
    top : 0px;
    z-index : 2;
}

header h1 a{
    margin-left : var(--flow-space);
    font-family : 'Lobster';
    color : whitesmoke;
    z-index : 15;
    position : relative;
    text-shadow : var(--main-shadow);
}

header .background {
    position : absolute;
    width : 100%;
    height : 80px;
    z-index : 10;
    background-color : crimson;
    box-shadow : var(--main-shadow);
}

nav label {
    margin-right : var(--flow-space);
    display : block;
    margin-top : 5px;
    height : 2rem;
    width : 2rem;
    color : transparent;
    background : url('../img/hamburger.png') center / cover;
    cursor : pointer;
    z-index : 15;
    position : relative;
}

nav ul {
    position : absolute;
    overflow: hidden;
    width : 100%;
    padding-top : 20px;
    top :-100px;
    left : 0;
    display : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items : flex-end;
    background-color : crimson;
    list-style-type: none;
    transition : top 0.2s ease;
    z-index : 5;
    box-shadow : var(--main-shadow);
}

nav input:checked + ul {
    top : 80px;
}

nav li {
    margin-bottom : 20px;
    margin-right : var(--flow-space);
    font-size : 1.25rem;
    width : min-content;
}

nav li a {
    color : whitesmoke;
    white-space: nowrap;
}

main > section {
    padding : 20px var(--flow-space);
    display : flex;
    flex-direction : column;
    align-items : center;
    text-align : center;
}

main > section:first-of-type {
    padding-top : 40px;
}

h2 {
    color : crimson;
    line-height : 2.5rem;
    margin-bottom : 20px;
}

p {
    margin-bottom : 1rem;
    line-height : 1.5rem;
}

#hero {
    height : calc(100vh - 80px);
    background-color : rgba(255,255,255,0.7);
    position : relative;
    justify-content: center;
}

#hero h2 {
    font-size : 1.75rem;
}

#hero a {
    margin-bottom : 30px;
    width : 210px;
}

#hero p {
    max-width : 500px;
    margin-bottom : 30px;
}

#hero::after {
    content : '';
    position : absolute;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    background : url('../img/mansion.webp') no-repeat center / cover;
    filter : blur(3px);
    z-index : -1;
}

#annonces {
    width : 100%;
    padding-top : 20px;
}

.annonce-article {
    overflow: hidden;
    text-align : left;
    width : 100%;
    background-color : rgb(235,235,235);
    border-radius : 2px;
    margin-bottom : var(--flow-space);
    transition : filter 0.2s ease;
}

.annonce-article:hover {
    filter : brightness(95%)
}

.annonce-article a {
    color : unset;
}

.annonce-article img {
    object-fit: cover;
    width : 100%;
    height : calc(2 / 3 * (100vw - 2 * var(--flow-space)));
}

.annonce-article  div {
    padding : 15px;
}

.annonce-article h3 {
    margin-bottom : 5px;
}

.annonce-article p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

#annonce {
    background-color : unset;
}

#annonce p {
    -webkit-line-clamp: unset;
}

.annonce-article .infos{
    display : block;
    color : grey;
    margin-bottom : 10px;
}

.annonce-article .price{
    font-weight : bold;
}

#annonce .price {
    position : unset;
    display : block;
    margin-top : 20px;
}
#annonce .proprietaire {
    display : block;
    margin-top : 10px;
    margin-bottom : 10px;
    text-decoration : underline;
}
#login form {
    border-bottom : 2px dashed lightgrey;
}

form {
    width : 100%;
    display : flex;
    flex-direction :column;
    align-items : flex-start;
}

fieldset {
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    width : 100%;
}

fieldset:focus-within label {
    color : crimson;
}

input,textarea,select {
    border-radius : 2px;
    width : 100%;
    padding : 10px;
    font-size : 1rem;
    margin-bottom : 20px;
    box-shadow : 0 0 4px rgba(50,35,35,0.15) inset;
    font-family: 'Mulish', sans-serif;
    resize: none;
}

input[type="file"] {
    box-shadow : unset;
    margin-bottom : 5px;
}

#input_image_thumbnail {
    max-height : 200px;
    max-width : 300px;
    margin-bottom : 20px;
    box-shadow : 0 0 4px rgba(50,35,35,0.15);
}

textarea {
    height : 10rem;
}

label {
    margin-left : 10px;
    font-weight : bold;
    margin-bottom : 5px;
}

input:focus {
    outline : 1px solid crimson;
}

.title-menu {
    display : flex;
    flex-direction : column;
    align-items : center;
}

.title-menu .main-button {
    width : 210px;
    margin-bottom : 20px;
}

.publish-date {
    font-style : italic;
    color : grey;
    margin-bottom : 40px;
    display : block;
}




@media screen and (min-width : 375px) {
    :root {
        --flow-space : 20px;
    }
}

@media screen and (min-width : 750px) {
    :root {
        --flow-space : 40px;
    }
    nav ul {
        padding-top : unset;
        position : relative;
        top : unset;
        left : unset;
        flex-direction: row;
        align-items : center;
        height : 80px;
        z-index : 20;
        box-shadow: unset;
        height : 80px;
        padding-right : var(--flow-space);
    }

    nav input:checked + ul {
        top : unset;
    }
    nav li {
        height : 100%;
        margin : unset;
        margin-left : 40px;
    }
    nav li a {
        height : 100%;
        display : flex;
        align-items : center;
        border : 4px solid transparent; 
    }

    nav li a:hover {
        border-bottom-color: whitesmoke;
    }
    nav label {
        display : none;
    }
    .annonce-article {
        margin-bottom : 20px;
    }
    .annonce-article a {
        display : flex;
    }
    .annonce-article img {
        height : 200px;
        min-width : 300px;
        max-width : 300px;
    }
    .annonce-article div {
        flex-grow: 10;
        position : relative;
    }
    .annonce-article p {
        -webkit-line-clamp: 3;
    }
    #annonce {
        position : relative;
    }
    #annonce h3 {
        position: absolute;
        top : 0px; 
        left : 320px;
    }
    #annonce .infos {
        position : absolute;
        top : 2rem;
        left : 320px;
    }
    #annonce .proprietaire {
        position : absolute;
        top : 4rem;
        left : 320px;
    }
    #annonce .date {
        position : absolute;
        top : 8rem;
        left : 320px;
    }
    #annonce .price {
        position : absolute;
        top : 9rem;
        left : 320px;
    }
    #annonce p {
        -webkit-line-clamp: unset;
    }
    .annonce-article .price {
        position : absolute;
        bottom : 15px;
    }
    .title-menu {
        flex-direction : row;
        justify-content : center;
    }
    .title-menu .main-button:not(:last-of-type) {
        margin-right : 20px;
    }
    .title-menu p + .main-button {
        margin-left : 20px;
    }
}

@media screen and (min-width : 1000px) {
    :root {
        --flow-space : 80px;
    }
    main > section {
        align-items : flex-start;
        text-align : left;
    }

    #hero {
        font-size : 1.25em;
    }

    #hero h2 {
        font-size : 2rem;
        margin-bottom : 30px;
    }

    #hero p {
        max-width : 650px;
        margin-bottom : 40px;
    }

    #hero a {
        width : 250px;
        text-align : center;
        margin-right : 40px;
    }

    #hero div {
        display : flex;
    }
    .title-row {
        width : 100%;
        display : flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items : center;
    }
}

@media screen and (min-width : 1300px) {
    :root {
        --flow-space : calc(50vw - 570px);
    }
}



